<!DOCTYPE html>
<html>
    


<!-- navigation bar -->

<head>
<link rel="stylesheet" href="~/css/custom.css" asp-append-version="true" />
</head>

<div class="header">
  
</div>


<body>

  
    <div class="topnav">
        <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Home</a>
        <a asp-area="" asp-controller="GuiHome" asp-action="Index">Index</a>
        <a asp-area="" asp-controller="GuiHome" asp-action="Digicode">Digicode</a>
        <a asp-area="" asp-controller="GuiHome" asp-action="info">Information</a>
    </div>

    
</body>


<body>
  
        <div>
            @RenderBody()
        </div>

</body>


</html>
