<!DOCTYPE html>
<html>
    


<!-- navigation bar -->

<head>
<link rel="stylesheet" href="~/css/custom.css" asp-append-version="true" />
</head>

<body>

    <ul>
        <li><a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Home</a></li>
        <li><a asp-area="" asp-controller="GuiHome" asp-action="Index">Welcome</a></li>
    </ul>
    
</body>



    <head>
        <link rel="stylesheet" href="~/css/custom.css" /> 
    </head>

    <body>
  
        <div>
            @RenderBody()
        </div>

    </body>


</html>
