@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}


 <div class="column side">
    <center> <button class="button">Information</button></center>
  </div>

  
  <div class="column middle">
    <center><a asp-area="" asp-controller="GuiHome" asp-action="Digicode"><button class="button"> Lock</button></a></center>
  </div>

  
  <div class="column side">

    <center><button class="button">Settings</button></center>
  </div>