@{
    ViewData["Title"] = "info";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}







    <body>

        <div class="columnInfo side"></div>

       <div class="columnInfo middle">
            <p id = "p2">
                <head>Fichet bauche Information</head> <br><br>
                <b>Adresse </b>: 15 rue Fichet Bauche<br>
                <b>Téléphone :</b> 03 26 91 44 44 <br>
                <img class="fit-picture"
                src="~/images/usine.png" />
            </p>


<div class="columnInfo side">
    </div>

    </body>

